
/*----------------头部-----------------------*/
body,ul{
    margin:0;
    padding:0;
}
.elip{
	display:block;white-space:nowrap; overflow:hidden; text-overflow:ellipsis;
}
body{
    font-family: 'Microsoft YaHei';
    color:#666666;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
.topBox{
    height:36px;
    background:#f5f5f5;
}
.top,.logo,.nav,.footer,.bottom{/*-----------公共宽度-----------------*/
    width:1100px;
    margin:0 auto;
}
.top span{
    font-family: 'Microsoft YaHei';
    font-size:13.34px;
    line-height:36px;
    color:#666666;
}
.top li{
    margin-left:10px;
    float:left;
}
.top a{
    display: inline-block;
    /* height:20px; */
    width:95px;
    border:1px solid #56adff;
    margin-top:8px;
    text-align: center;
    vertical-align: middle;
    border-radius: 10px 10px;
    color:#666666;
}
.topBox ul,.logo ul{
    overflow:hidden;
    float:right;
}


/*------------logo------------*/
.logoMargin{
    margin:10px 0;
}
.logo ul{
    margin-top:25px;
}
.logo ul li{
    height:26px;
    line-height: 26px;
    margin-right:10px;
    text-align: center;
    float:left;
}
.logo ul li img{
    vertical-align: middle;
}
.weather{
    margin-left:100px;
}

/*------------菜单------------------*/
.navBox{
    height:50px;
    background:#1990ff;
}
.nav{
    overflow:hidden;
}
.nav li{
    float:left;
}
.nav li:hover{
    background: #026ccf;
}
.nav a{
    line-height: 50px;
    color:white;
    text-decoration:none;
    padding:0 30px;
}
/*------------尾部--------------*/
.footerBg{
    height:210px;
    background:#0184ff;
    margin-top:10px;
}
.footer div{
    float:left;
    color:white;
    font-family: "Microsoft YaHei";
    font-size:14.67px;
}
.footLogo{
    margin-top:60px;
}
.friendLink{
    margin-left:30px;
}
.friendLink p{
    margin-top:40px;
}
.link{
    float:left;
    margin-right:10px;
}
.lingUl{
    overflow: hidden;
}
.link li{
    height:25px;
    line-height: 25px;
}
.link a{
    color:white;
}
.yiYang{
    margin-top:20px!important;
}
.suggest{
    margin-top:50px;
    margin-left:70px;
}
.suggest div{
    margin:0 30px;
}
/*-------------底部声明----------------*/
.bottomBg{
    height:30px;
    background:#f5f5f5;
}
.bottom{
    line-height: 30px;
    overflow: hidden;
    font-size: 13.34px;
    color:#666666;
}
.bottom a{
    color:#666666;
}
.bottom div{
    float:left;
}
.bottom .middle{
    margin-left:170px;
}
.bottom .right{
    margin-left:200px;
}
/*--------------医院列表-------------------*/
.search{
    margin-top:5px;
}
.search a{
    display:inline-block;
    color:#666666;
    width:200px;
    height:50px;
    text-align: center;
    line-height: 50px;
    border:1px solid #e5e5e5;
    margin-bottom: -1px;
}
.search .aBorder{
    border-right: none;
    margin-left: -1px;
    background: #fafafa;
    border-bottom:1px solid #fafafa;
    color:#1990ff;
}
.search ul{
    float:right;
}
.search li{
    float:left;
}
.search input{
    height:30px;
    border:1px solid #fec009;
}
button{
    width:34px;
    height:34px;
    cursor: pointer;
    border: 0 solid yellow;
    background: #fec009;
    border-radius: 0 4px 4px 0;
}

/*--------------医院排列------------------*/

.order,.doctorList{
    width:97%;
    margin:0 auto;
}
.order{
    font-size:16px;
    margin-top:15px;
    margin-bottom:15px;
}
.list{
    /*height:400px;*/
    border:1px solid #e5e5e5;
    background:#fafafa;
}
.order select{
    width:200px;
    height:30px;
    font-size:14.67px;
    color:#666666;
}
.list ul{
    overflow: hidden;
}
.list li{
    float:left;
    border:1px solid #e5e5e5;
    width:518px;
    height:145px;
    background:white;
    margin:0 0 10px 20px;
}
.list li:hover{
    background: #f3fcfe;
}
.list li div{
    float: left;
}
.list .hospitalPic{
    width:120px;
    height:120px;
    border:1px solid #e5e5e5;
    margin:12px;
}
.hospitalPic img{
    width:100%;
}
h4{
    font-size:18px;
    margin:15px 0;
    font-family:'Microsoft YaHei'
    color:#666666;
}
.hospitalIntr{
    width:260px;
}
.hospitalIntr p{
    margin:10px 0;
    font-size:14.67px;
}
.hospitalIntr .yellow{
    color:#fec009;
}
.hospitalIntr span,.pay span{
    color:#999999;
}
.pay{
    margin:15px 0;
    height:20px;
    line-height: 20px;
}
.pay img{
    vertical-align: middle;
}

/*------------尾部--------------*/
.footerBg{
    height:210px;
    background:#0184ff;
    margin-top:10px;
}
.footer div{
    float:left;
    color:white;
    font-family: "Microsoft YaHei";
    font-size:14.67px;
}
.footLogo{
    margin-top:60px;
}
.friendLink{
    margin-left:30px;
}
.friendLink p{
    margin-top:40px;
}
.link{
    float:left;
    margin-right:10px;
}
.lingUl{
    overflow: hidden;
}
.link li{
    height:25px;
    line-height: 25px;
}
.link a{
    color:white;
}
.yiYang{
    margin-top:20px!important;
}
.suggest{
    margin-top:50px;
    margin-left:70px;
}
.suggest div{
    margin:0 30px;
}
/*-------------底部声明----------------*/
.bottomBg{
    height:30px;
    background:#f5f5f5;
}
.bottom{
    line-height: 30px;
    overflow: hidden;
    font-size: 13.34px;
    color:#666666;
}
.bottom a{
    color:#666666;
}
.bottom div{
    float:left;
}
.middle{
    margin-left:170px;
}
.right{
    margin-left:200px;
}

