<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>黄岛区居民健康门户</title>
    <link rel="stylesheet" href="../../statics/css/headCommon.css"/>
    <link rel="stylesheet" href="../../statics/css/docDepartment.css"/>
</head>
<body>

<!----------顶部------------->
<div class="topBox">
    <div class="top">
        <span>欢迎访问黄岛区居民健康信息门户！</span>
        <ul>
            <li><a href="">APP下载</a></li>
            <li><a href="">微信公众号</a></li>
        </ul>
    </div>
</div>
<!----------logo----------------->
<div class="logo">
    <img src="../../statics/image/首页/logo2.png" alt="" class="logoMargin"/>
    <!--<iframe class="weather" name="weather_inc" src="http://i.tianqi.com/index.php?c=code&id=9" width="300" height="60" frameborder="0" marginwidth="0" marginheight="0" scrolling="no"></iframe>-->
    <ul>
        <li>
            <img src="../../statics/image/首页/login.png" alt=""/>登陆
        </li>
        <li>
            <img src="../../statics/image/首页/register.png" alt=""/>注册
        </li>
    </ul>
</div>
<!-----------菜单------------->
<div class="navBox">
    <div class="nav" >
        <ul>
            <li><a href="">首页</a></li>
            <li><a href="">预约挂号</a></li>
            <li><a href="">健康教育</a></li>
            <li><a href="">健康管理</a></li>
            <li><a href="">个人中心</a></li>
        </ul>
    </div>
</div>
<!-------医院名称--------->
<div class="hospName">
    成都军区医院
</div>
<!-------医生介绍-------->
<div class="docBg">
    <div class="docDetails">
        <!--医生头像-->
        <div class="docPicture">
            <img src="../../statics/image/医院列表/hospital.png" alt=""/>
        </div>
        <!--右侧介绍-->
        <div class="detailsOrder">
            <div class="position">
                <div>
                    <p>
                        <span class="size">钱过配</span>&nbsp<span class="size1">主任医师/教授</span>&nbsp<img src="../../statics/image/医生列表/star.png" alt=""/><img src="../../statics/image/医生列表/star.png" alt=""/><img src="../../statics/image/医生列表/star.png" alt=""/><img src="../../statics/image/医生列表/star.png" alt=""/><img src="../../statics/image/医生列表/half-star.png" alt=""/>9.3分<br/>
                    </p>
                    <p class="blue size1">
                        <span>山东生产建设兵团</span>&nbsp<span>普外科</span>
                    </p>
                </div>
                <div class="positionOrder">
                    <a href="">
                        <img src="../../statics/image/医生列表/subscribe2.png" alt=""/>
                    </a>
                </div>
            </div>
            <div class="width">
                <p class="size2"><span class="blue">联系电话：</span>123456</p>
                <p class="size2"><span class="blue">擅长：</span>十多个能否谁登记菲欧</p>
                <p class="size2"><span class="blue">简介：</span>十多个能否谁登记菲欧十多个能否谁登记菲欧十多个能否谁登记菲欧能否谁登记菲欧十多个能否谁登记菲能否谁登记菲欧十多个能否谁登记菲</p>
            </div>

        </div>
    </div>
</div>
<!-------板块选择---------->
<div class="choose">
    <a href="" class="aBorder first">医生简介</a><a href="" class="aBorder second">科室信息</a><a href="" class="aBorder">患者评价</a><a href="">排班信息</a>
</div>
<!--------板块内容------------>
<div class="introduceBox">
    <div class="introduce">
        <div class="department-top">
            <!--科室照片-->
            <div class="department-pic">
                <img src="../../statics/image/医院详情/department.png" alt=""/>
            </div>
            <!--科室信息-->
            <div class="department-intr">
                <div>
                    <p><span class="text-color">普外科</span>&nbsp&nbsp&nbsp<span>省级重点学科</span></p>
                </div>
                <div class="tel">
                    <div class="tel-width">
                        <span class="text-color">咨询电话:</span>
                    </div>
                    <div>
                        <span>医生办公室：123456</span><br/>
                        <span>护士办公室：123456</span><br/>
                    </div>
                </div>
                <div class="intr-width">
                    <p class="text-color">科室简介</p>
                    <span>你说的地方我测试的地方我测试发飞阿的地方我测试发飞阿的地方我测试发飞阿的地方我测试发飞阿的地方我测试发飞阿发飞阿萨德</span>
                </div>
            </div>
        </div>
        <!--诊疗范围-->
        <div class="department-bot">
            <p class="text-color">诊疗范围</p>
            <span>说的地方我测试发飞阿说的地方我测我测试发飞阿说的地方我测试发飞阿说的地方我我测试发飞阿说的地方我测试发飞阿说的地方我我测试发飞阿说的地方我测试发飞阿说的地方我试发飞阿说的地方我测试发飞阿</span>
            <p class="text-color">诊疗优势及特色</p>
            <span>说的地方我测试发飞阿说的地方我测试发飞阿说的地方我测试发飞阿</span>
            <p class="text-color">科研情况</p>
            <span>说的地方我测试发飞阿说的地方我测试发飞阿说的地方我测试发飞阿</span>
        </div>
    </div>
</div>

<div class="footerBg"><!------------底部链接-------------------->
    <div class="footer">
        <div class="footLogo">
            <img src="../../statics/image/首页/logo-bottom.png" alt=""/>
        </div>
        <div class="friendLink">
            <p>友情链接</p>
            <ul class="lingUl">
                <li class="link">
                    <ul>
                        <li><a href="">黄岛区地税局</a></li>
                        <li><a href="">共青团农场</a></li>
                    </ul>
                </li>
                <li class="link">
                    <ul>
                        <li><a href="">黄岛区地税局</a></li>
                        <li><a href="">共青团农场</a></li>
                    </ul>
                </li>
                <li class="link">
                    <ul>
                        <li><a href="">黄岛区地税局</a></li>
                        <li><a href="">共青团农场</a></li>
                    </ul>
                </li>
                <li class="link">
                    <ul>
                        <li><a href=""></a></li>
                        <li><a href="">共青团农场</a></li>
                    </ul>
                </li>
                <li class="link">
                    <ul>
                        <li><a href=""></a></li>
                        <li><a href="">共青团农场</a></li>
                    </ul>
                </li>
                <li class="link">
                    <ul>
                        <li><a href=""></a></li>
                        <li><a href="">共青团农场</a></li>
                    </ul>
                </li>
            </ul>
            <p class="yiYang">技术支持：亿阳信通股份有限公司</p>
        </div>
        <div class="suggest">
            <div>
                <img src="../../statics/image/首页/blog.png" alt=""/>
                <p>官方微博</p>
            </div>
            <div>
                <img src="../../statics/image/首页/suggestion.png" alt=""/>
                <p>意见反馈</p>
            </div>
        </div>
    </div>
</div>
<div class="bottomBg"><!----------底部声明----------------->
    <div class="bottom">
        <div>
            <span>|</span>
            <span><a href="">版权声明</a></span>
            <span>|</span>
            <span><a href="">法律责任</a></span>
            <span>|</span>
            <span><a href="">隐私声明</a></span>
            <span>|</span>
            <span><a href="">联系我们</a></span>
            <span>|</span>
        </div>
        <div class="middle">
            2009-2016&nbsp <a href="">山东省黄岛区卫生计生委</a>
        </div>
        <div class="right">
            备案号：心ICP备07057313号
        </div>
    </div>
</div>
</body>
</html>