<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>黄岛区居民健康门户</title>
    <link rel="stylesheet" href="../../statics/css/hospitalList.css"/>
</head>
<body>

<div class="topBox"><!----------顶部------------->
    <div class="top">
        <span>欢迎访问黄岛区居民健康信息门户！</span>
        <ul>
            <li><a href="">APP下载</a></li>
            <li><a href="">微信公众号</a></li>
        </ul>
    </div>
</div>

<div class="logo"><!----------logo----------------->
    <img src="../../statics/image/ccc/logo2.png" alt="" class="logoMargin"/>
    <!--<iframe class="weather" name="weather_inc" src="http://i.tianqi.com/index.php?c=code&id=9" width="300" height="60" frameborder="0" marginwidth="0" marginheight="0" scrolling="no"></iframe>-->
    <ul>
        <li>
            <img src="../../statics/image/ccc/login.png" alt=""/>登陆
        </li>
        <li>
            <img src="../../statics/image/ccc/register.png" alt=""/>注册
        </li>
    </ul>
</div>

<div class="navBox"><!-----------菜单----------------------->
    <div class="nav" >
        <ul>
            <li><a href="">ccc</a></li>
            <li><a href="">预约挂号</a></li>
            <li><a href="">健康教育</a></li>
            <li><a href="">健康管理</a></li>
            <li><a href="">个人中心</a></li>
        </ul>
    </div>
</div>

<div class="search">
    <a href="" class="aBorder">医院</a><a href=""  class="aRight">医生</a>
    <ul>
        <li><input type="text" placeholder="请输入医生或医院名称"/></li>
        <li><button><img src="../../statics/image/fff/search-button.png" alt=""/></button></li>
    </ul>
</div>

<div class="list"><!------------医生列表------------------>
    <div class="order">
        排序方式
        <select>
            <option>医院等级</option>
            <option>医院等级</option>
            <option>医院等级</option>
            <option>医院等级</option>
        </select>
    </div>
    <ul>
        <li>
            <div class="hospitalPic">
                <img src="../../statics/image/fff/hospital.png" alt=""/>
            </div>
            <div class="hospitalIntr">
                <h4>山东生产建设兵团第六师医院</h4>
                <p><span class="yellow">二级甲等</span>&nbsp10km</p>
                <p>
                    <img src="../../statics/image/fff/telephone.png" alt=""/>&nbsp
                    <span>123344</span>&nbsp
                    <span>123344</span>
                </p>
                <p>
                    <img src="../../statics/image/fff/address.png" alt=""/>&nbsp
                    <span>山东黄岛区人民北路23号</span>
                </p>
            </div>
            <div class="pay">
                <img src="../../statics/image/fff/card.png" alt=""/>
                <span>在线支付</span>
            </div>
        </li>
        <li>
            <div class="hospitalPic">
                <img src="../../statics/image/fff/hospital.png" alt=""/>
            </div>
            <div class="hospitalIntr">
                <h4>山东生产建设兵团第六师医院</h4>
                <p><span class="yellow">二级甲等</span>&nbsp10km</p>
                <p>
                    <img src="../../statics/image/fff/telephone.png" alt=""/>&nbsp
                    <span>123344</span>&nbsp
                    <span>123344</span>
                </p>
                <p>
                    <img src="../../statics/image/fff/address.png" alt=""/>&nbsp
                    <span>山东黄岛区人民北路23号</span>
                </p>
            </div>
            <div class="pay">
                <img src="../../statics/image/fff/card.png" alt=""/>
                <span>在线支付</span>
            </div>
        </li>
        <li>
            <div class="hospitalPic">
                <img src="../../statics/image/fff/hospital.png" alt=""/>
            </div>
            <div class="hospitalIntr">
                <h4>山东生产建设兵团第六师医院</h4>
                <p><span class="yellow">二级甲等</span>&nbsp10km</p>
                <p>
                    <img src="../../statics/image/fff/telephone.png" alt=""/>&nbsp
                    <span>123344</span>&nbsp
                    <span>123344</span>
                </p>
                <p>
                    <img src="../../statics/image/fff/address.png" alt=""/>&nbsp
                    <span>山东黄岛区人民北路23号</span>
                </p>
            </div>
            <div class="pay">
                <img src="../../statics/image/fff/card.png" alt=""/>
                <span>在线支付</span>
            </div>
        </li>
        <li>
            <div class="hospitalPic">
                <img src="../../statics/image/fff/hospital.png" alt=""/>
            </div>
            <div class="hospitalIntr">
                <h4>山东生产建设兵团第六师医院</h4>
                <p><span class="yellow">二级甲等</span>&nbsp10km</p>
                <p>
                    <img src="../../statics/image/fff/telephone.png" alt=""/>&nbsp
                    <span>123344</span>&nbsp
                    <span>123344</span>
                </p>
                <p>
                    <img src="../../statics/image/fff/address.png" alt=""/>&nbsp
                    <span>山东黄岛区人民北路23号</span>
                </p>
            </div>
            <div class="pay">
                <img src="../../statics/image/fff/card.png" alt=""/>
                <span>在线支付</span>
            </div>
        </li>
        <li>
            <div class="hospitalPic">
                <img src="../../statics/image/fff/hospital.png" alt=""/>
            </div>
            <div class="hospitalIntr">
                <h4>山东生产建设兵团第六师医院</h4>
                <p><span class="yellow">二级甲等</span>&nbsp10km</p>
                <p>
                    <img src="../../statics/image/fff/telephone.png" alt=""/>&nbsp
                    <span>123344</span>&nbsp
                    <span>123344</span>
                </p>
                <p>
                    <img src="../../statics/image/fff/address.png" alt=""/>&nbsp
                    <span>山东黄岛区人民北路23号</span>
                </p>
            </div>
            <div class="pay">
                <img src="../../statics/image/fff/card.png" alt=""/>
                <span>在线支付</span>
            </div>
        </li>
        <li>
            <div class="hospitalPic">
                <img src="../../statics/image/fff/hospital.png" alt=""/>
            </div>
            <div class="hospitalIntr">
                <h4>山东生产建设兵团第六师医院</h4>
                <p><span class="yellow">二级甲等</span>&nbsp10km</p>
                <p>
                    <img src="../../statics/image/fff/telephone.png" alt=""/>&nbsp
                    <span>123344</span>&nbsp
                    <span>123344</span>
                </p>
                <p>
                    <img src="../../statics/image/fff/address.png" alt=""/>&nbsp
                    <span>山东黄岛区人民北路23号</span>
                </p>
            </div>
            <div class="pay">
                <img src="../../statics/image/fff/card.png" alt=""/>
                <span>在线支付</span>
            </div>
        </li>
    </ul>
</div>

<div class="footerBg"><!------------底部链接-------------------->
    <div class="footer">
        <div class="footLogo">
            <img src="../../statics/image/ccc/logo-bottom.png" alt=""/>
        </div>
        <div class="friendLink">
            <p>友情链接</p>
            <ul class="lingUl">
                <li class="link">
                    <ul>
                        <li><a href="">黄岛区地税局</a></li>
                        <li><a href="">共青团农场</a></li>
                    </ul>
                </li>
                <li class="link">
                    <ul>
                        <li><a href="">黄岛区地税局</a></li>
                        <li><a href="">共青团农场</a></li>
                    </ul>
                </li>
                <li class="link">
                    <ul>
                        <li><a href="">黄岛区地税局</a></li>
                        <li><a href="">共青团农场</a></li>
                    </ul>
                </li>
                <li class="link">
                    <ul>
                        <li><a href=""></a></li>
                        <li><a href="">共青团农场</a></li>
                    </ul>
                </li>
                <li class="link">
                    <ul>
                        <li><a href=""></a></li>
                        <li><a href="">共青团农场</a></li>
                    </ul>
                </li>
                <li class="link">
                    <ul>
                        <li><a href=""></a></li>
                        <li><a href="">共青团农场</a></li>
                    </ul>
                </li>
            </ul>
            <p class="yiYang">技术支持：亿阳信通股份有限公司</p>
        </div>
        <div class="suggest">
            <div>
                <img src="../../statics/image/ccc/blog.png" alt=""/>
                <p>官方微博</p>
            </div>
            <div>
                <img src="../../statics/image/ccc/suggestion.png" alt=""/>
                <p>意见反馈</p>
            </div>
        </div>
    </div>
</div>
<div class="bottomBg"><!----------底部声明----------------->
    <div class="bottom">
        <div>
            <span>|</span>
            <span><a href="">版权声明</a></span>
            <span>|</span>
            <span><a href="">法律责任</a></span>
            <span>|</span>
            <span><a href="">隐私声明</a></span>
            <span>|</span>
            <span><a href="">联系我们</a></span>
            <span>|</span>
        </div>
        <div class="middle">
            2009-2016&nbsp <a href="">山东省黄岛区卫生计生委</a>
        </div>
        <div class="right">
            备案号：心ICP备07057313号
        </div>
    </div>
</div>
</body>
</html>