<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>黄岛区居民健康门户</title>
    <link rel="stylesheet" href="../../statics/css/hospitalDetails.css"/>
    <link rel="stylesheet" href="../../statics/css/headCommon.css"/>
</head>
<body>

<div class="topBox"><!----------顶部------------->
    <div class="top">
        <span>欢迎访问黄岛区居民健康信息门户！</span>
        <ul>
            <li><a href="">APP下载</a></li>
            <li><a href="">微信公众号</a></li>
        </ul>
    </div>
</div>

<div class="logo"><!----------logo----------------->
    <img src="../../statics/image/首页/logo2.png" alt="" class="logoMargin"/>
    <!--<iframe class="weather" name="weather_inc" src="http://i.tianqi.com/index.php?c=code&id=9" width="300" height="60" frameborder="0" marginwidth="0" marginheight="0" scrolling="no"></iframe>-->
    <ul>
        <li>
            <img src="../../statics/image/首页/login.png" alt=""/>登陆
        </li>
        <li>
            <img src="../../statics/image/首页/register.png" alt=""/>注册
        </li>
    </ul>
</div>

<div class="navBox"><!-----------菜单----------------------->
    <div class="nav" >
        <ul>
            <li><a href="">首页</a></li>
            <li><a href="">预约挂号</a></li>
            <li><a href="">健康教育</a></li>
            <li><a href="">健康管理</a></li>
            <li><a href="">个人中心</a></li>
        </ul>
    </div>
</div>

<div class="hospName">
    成都军区医院
</div>
<!--医院介绍-->
<div class="hosBg">
    <div class="hosDetails">
        <!--医院图片-->
        <div class="hosPicture">
            <img src="../../statics/image/医院详情/hospital.png" alt=""/>
        </div>
        <!--医院介绍-->
        <div class="hosIntr">
            <p>
                <span class="hosName">山东生产建设兵团第六师医院</span>&nbsp
                <span class="hosGrade">二级甲等</span>&nbsp
                <img src="../../statics/image/医生列表/star.png" alt=""/><img src="../../statics/image/医生列表/star.png" alt=""/><img src="../../statics/image/医生列表/star.png" alt=""/><img src="../../statics/image/医生列表/star.png" alt=""/><img src="../../statics/image/医生列表/half-star.png" alt=""/>&nbsp
                <img src="../../statics/image/医院详情/card.png" alt=""/>
                <span>在线支付</span>
            </p>
            <p>
                <span class="blue">联系电话：</span>123456
            </p>
            <p>
                <span class="blue">地&nbsp&nbsp址：</span>新建黄岛区大爷鲁12号
                <img src="../../statics/image/医院列表/address.png" alt=""/>
            </p>
            <p>
                <span class="blue">网&nbsp&nbsp站：</span>123456
            </p>
            <p>
                <span class="blue">公交线路：</span>123456
            </p>
            <p>
                <span class="blue">医院简介：</span>四面佛为都弄完四面佛为都弄完四面佛为都弄完四面佛为都弄完四面佛为都弄完四面佛为都弄完四面佛为都弄完四面佛为都弄完四面佛为都弄完
            </p>

        </div>
    </div>
</div>
<!--板块选择按钮-->
<div class="choose">
    <a href="" class="aBorder first">科室医生</a><a href="" class="aBorder">医院评价</a><a href="" class="aBorder">医院简介</a><a href="">停诊信息</a>
</div>
<!--板块详情-->
<div class="hospital-box">
    <div></div>
    <div class="department">
        <ul>
            <li class="doctorBox">
                <div class="headPic">
                    <!--头像-->
                    <div class="headBox">
                        <img src="../../statics/image/医院列表/hospital.png" alt=""/>
                    </div><br/>
                    <!--评分-->
                    <div class="star">
                        <img src="../../statics/image/医生列表/star.png" alt=""/><img src="../../statics/image/医生列表/star.png" alt=""/><img src="../../statics/image/医生列表/star.png" alt=""/><img src="../../statics/image/医生列表/star.png" alt=""/><img src="../../statics/image/医生列表/half-star.png" alt=""/>9.3分
                    </div>
                </div>
                <!--医生介绍-->
                <div class="headName">
                    <p>
                        <span class="name">钱国培</span>&nbsp<span class="position">主任医师</span><br/>
                    </p>
                    <p>
                        <span class="color">皮肤科</span>&nbsp&nbsp<span class="hospital">青岛太博医院</span><br/>
                    </p>
                    <p>
                        <img src="../../statics/image/医生列表/adapt.png" alt=""/>&nbsp<span class="introduce">主攻皮肤性病和皮肤美容外科，掌握疑难皮肤病、性病的诊断和治疗</span>
                    </p>
                </div>
                <!--预约-->
                <div class="orderDoc">
                    <a href="">
                        <img src="../../statics/image/医生列表/subscribe2.png" alt=""/>
                    </a>
                </div>
            </li>
            <li class="doctorBox">
                <div class="headPic">
                    <!--头像-->
                    <div class="headBox">
                        <img src="../../statics/image/医院列表/hospital.png" alt=""/>
                    </div><br/>
                    <!--评分-->
                    <div class="star">
                        <img src="../../statics/image/医生列表/star.png" alt=""/><img src="../../statics/image/医生列表/star.png" alt=""/><img src="../../statics/image/医生列表/star.png" alt=""/><img src="../../statics/image/医生列表/star.png" alt=""/><img src="../../statics/image/医生列表/half-star.png" alt=""/>9.3分
                    </div>
                </div>
                <!--医生介绍-->
                <div class="headName">
                    <p>
                        <span class="name">钱国培</span>&nbsp<span class="position">主任医师</span><br/>
                    </p>
                    <p>
                        <span class="color">皮肤科</span>&nbsp&nbsp<span class="hospital">青岛太博医院</span><br/>
                    </p>
                    <p>
                        <img src="../../statics/image/医生列表/adapt.png" alt=""/>&nbsp<span class="introduce">主攻皮肤性病和皮肤美容外科，掌握疑难皮肤病、性病的诊断和治疗</span>
                    </p>
                </div>
                <!--预约-->
                <div class="orderDoc">
                    <a href="">
                        <img src="../../statics/image/医生列表/subscribe2.png" alt=""/>
                    </a>
                </div>
            </li>
            <li class="doctorBox">
                <div class="headPic">
                    <!--头像-->
                    <div class="headBox">
                        <img src="../../statics/image/医院列表/hospital.png" alt=""/>
                    </div><br/>
                    <!--评分-->
                    <div class="star">
                        <img src="../../statics/image/医生列表/star.png" alt=""/><img src="../../statics/image/医生列表/star.png" alt=""/><img src="../../statics/image/医生列表/star.png" alt=""/><img src="../../statics/image/医生列表/star.png" alt=""/><img src="../../statics/image/医生列表/half-star.png" alt=""/>9.3分
                    </div>
                </div>
                <!--医生介绍-->
                <div class="headName">
                    <p>
                        <span class="name">钱国培</span>&nbsp<span class="position">主任医师</span><br/>
                    </p>
                    <p>
                        <span class="color">皮肤科</span>&nbsp&nbsp<span class="hospital">青岛太博医院</span><br/>
                    </p>
                    <p>
                        <img src="../../statics/image/医生列表/adapt.png" alt=""/>&nbsp<span class="introduce">主攻皮肤性病和皮肤美容外科，掌握疑难皮肤病、性病的诊断和治疗</span>
                    </p>
                </div>
                <!--预约-->
                <div class="orderDoc">
                    <a href="">
                        <img src="../../statics/image/医生列表/subscribe2.png" alt=""/>
                    </a>
                </div>
            </li>
            <li class="doctorBox">
                <div class="headPic">
                    <!--头像-->
                    <div class="headBox">
                        <img src="../../statics/image/医院列表/hospital.png" alt=""/>
                    </div><br/>
                    <!--评分-->
                    <div class="star">
                        <img src="../../statics/image/医生列表/star.png" alt=""/><img src="../../statics/image/医生列表/star.png" alt=""/><img src="../../statics/image/医生列表/star.png" alt=""/><img src="../../statics/image/医生列表/star.png" alt=""/><img src="../../statics/image/医生列表/half-star.png" alt=""/>9.3分
                    </div>
                </div>
                <!--医生介绍-->
                <div class="headName">
                    <p>
                        <span class="name">钱国培</span>&nbsp<span class="position">主任医师</span><br/>
                    </p>
                    <p>
                        <span class="color">皮肤科</span>&nbsp&nbsp<span class="hospital">青岛太博医院</span><br/>
                    </p>
                    <p>
                        <img src="../../statics/image/医生列表/adapt.png" alt=""/>&nbsp<span class="introduce">主攻皮肤性病和皮肤美容外科，掌握疑难皮肤病、性病的诊断和治疗</span>
                    </p>
                </div>
                <!--预约-->
                <div class="orderDoc">
                    <a href="">
                        <img src="../../statics/image/医生列表/subscribe2.png" alt=""/>
                    </a>
                </div>
            </li>
            <li class="doctorBox">
                <div class="headPic">
                    <!--头像-->
                    <div class="headBox">
                        <img src="../../statics/image/医院列表/hospital.png" alt=""/>
                    </div><br/>
                    <!--评分-->
                    <div class="star">
                        <img src="../../statics/image/医生列表/star.png" alt=""/><img src="../../statics/image/医生列表/star.png" alt=""/><img src="../../statics/image/医生列表/star.png" alt=""/><img src="../../statics/image/医生列表/star.png" alt=""/><img src="../../statics/image/医生列表/half-star.png" alt=""/>9.3分
                    </div>
                </div>
                <!--医生介绍-->
                <div class="headName">
                    <p>
                        <span class="name">钱国培</span>&nbsp<span class="position">主任医师</span><br/>
                    </p>
                    <p>
                        <span class="color">皮肤科</span>&nbsp&nbsp<span class="hospital">青岛太博医院</span><br/>
                    </p>
                    <p>
                        <img src="../../statics/image/医生列表/adapt.png" alt=""/>&nbsp<span class="introduce">主攻皮肤性病和皮肤美容外科，掌握疑难皮肤病、性病的诊断和治疗</span>
                    </p>
                </div>
                <!--预约-->
                <div class="orderDoc">
                    <a href="">
                        <img src="../../statics/image/医生列表/subscribe2.png" alt=""/>
                    </a>
                </div>
            </li>
            <li class="doctorBox">
                <div class="headPic">
                    <!--头像-->
                    <div class="headBox">
                        <img src="../../statics/image/医院列表/hospital.png" alt=""/>
                    </div><br/>
                    <!--评分-->
                    <div class="star">
                        <img src="../../statics/image/医生列表/star.png" alt=""/><img src="../../statics/image/医生列表/star.png" alt=""/><img src="../../statics/image/医生列表/star.png" alt=""/><img src="../../statics/image/医生列表/star.png" alt=""/><img src="../../statics/image/医生列表/half-star.png" alt=""/>9.3分
                    </div>
                </div>
                <!--医生介绍-->
                <div class="headName">
                    <p>
                        <span class="name">钱国培</span>&nbsp<span class="position">主任医师</span><br/>
                    </p>
                    <p>
                        <span class="color">皮肤科</span>&nbsp&nbsp<span class="hospital">青岛太博医院</span><br/>
                    </p>
                    <p>
                        <img src="../../statics/image/医生列表/adapt.png" alt=""/>&nbsp<span class="introduce">主攻皮肤性病和皮肤美容外科，掌握疑难皮肤病、性病的诊断和治疗</span>
                    </p>
                </div>
                <!--预约-->
                <div class="orderDoc">
                    <a href="">
                        <img src="../../statics/image/医生列表/subscribe2.png" alt=""/>
                    </a>
                </div>
            </li>
        </ul>
    </div>
</div>

<div class="footerBg"><!------------底部链接-------------------->
    <div class="footer">
        <div class="footLogo">
            <img src="../../statics/image/首页/logo-bottom.png" alt=""/>
        </div>
        <div class="friendLink">
            <p>友情链接</p>
            <ul class="lingUl">
                <li class="link">
                    <ul>
                        <li><a href="">黄岛区地税局</a></li>
                        <li><a href="">共青团农场</a></li>
                    </ul>
                </li>
                <li class="link">
                    <ul>
                        <li><a href="">黄岛区地税局</a></li>
                        <li><a href="">共青团农场</a></li>
                    </ul>
                </li>
                <li class="link">
                    <ul>
                        <li><a href="">黄岛区地税局</a></li>
                        <li><a href="">共青团农场</a></li>
                    </ul>
                </li>
                <li class="link">
                    <ul>
                        <li><a href=""></a></li>
                        <li><a href="">共青团农场</a></li>
                    </ul>
                </li>
                <li class="link">
                    <ul>
                        <li><a href=""></a></li>
                        <li><a href="">共青团农场</a></li>
                    </ul>
                </li>
                <li class="link">
                    <ul>
                        <li><a href=""></a></li>
                        <li><a href="">共青团农场</a></li>
                    </ul>
                </li>
            </ul>
            <p class="yiYang">技术支持：亿阳信通股份有限公司</p>
        </div>
        <div class="suggest">
            <div>
                <img src="../../statics/image/首页/blog.png" alt=""/>
                <p>官方微博</p>
            </div>
            <div>
                <img src="../../statics/image/首页/suggestion.png" alt=""/>
                <p>意见反馈</p>
            </div>
        </div>
    </div>
</div>
<div class="bottomBg"><!----------底部声明----------------->
    <div class="bottom">
        <div>
            <span>|</span>
            <span><a href="">版权声明</a></span>
            <span>|</span>
            <span><a href="">法律责任</a></span>
            <span>|</span>
            <span><a href="">隐私声明</a></span>
            <span>|</span>
            <span><a href="">联系我们</a></span>
            <span>|</span>
        </div>
        <div class="middle">
            2009-2016&nbsp <a href="">山东省黄岛区卫生计生委</a>
        </div>
        <div class="right">
            备案号：心ICP备07057313号
        </div>
    </div>
</div>
</body>
</html>