<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>黄岛区居民健康门户</title>
    <link rel="stylesheet" href="../../statics/css/headCommon.css"/>
    <link rel="stylesheet" href="../../statics/css/docIndex.css"/>
</head>
<body>

<div class="topBox"><!----------顶部------------->
    <div class="top">
        <span>欢迎访问黄岛区居民健康信息门户！</span>
        <ul>
            <li><a href="">APP下载</a></li>
            <li><a href="">微信公众号</a></li>
        </ul>
    </div>
</div>

<div class="logo"><!----------logo----------------->
    <img src="../../statics/image/首页/logo2.png" alt="" class="logoMargin"/>
    <!--<iframe class="weather" name="weather_inc" src="http://i.tianqi.com/index.php?c=code&id=9" width="300" height="60" frameborder="0" marginwidth="0" marginheight="0" scrolling="no"></iframe>-->
    <ul>
        <li>
            <img src="../../statics/image/首页/login.png" alt=""/>登陆
        </li>
        <li>
            <img src="../../statics/image/首页/register.png" alt=""/>注册
        </li>
    </ul>
</div>

<div class="navBox"><!-----------菜单----------------------->
    <div class="nav" >
        <ul>
            <li class="current"><a href="">首页</a></li>
            <li><a href="">预约挂号</a></li>
            <li><a href="">健康教育</a></li>
            <li><a href="">健康管理</a></li>
            <li><a href="">个人中心</a></li>
        </ul>
    </div>
</div>

<div class="banner">
    <div class="banner-box">
        <ul>
            <li>
                <img src="../../statics/image/首页/nav-4.png" alt=""/>
            </li>
            <li>
                <a href=""><img src="../../statics/image/首页/nav-5.png" alt=""/></a>
            </li>
            <li>
                <a href=""><img src="../../statics/image/首页/nav-6.png" alt=""/></a>
            </li>
        </ul>
        <ul class="second">
            <li>
                <a href=""><img src="../../statics/image/首页/nav-1-1.png" alt=""/></a>
            </li>
            <li>
                <a href=""><img src="../../statics/image/首页/nav-2.png" alt=""/></a>
            </li>
            <li>
                <a href=""><img src="../../statics/image/首页/nav-3.png" alt=""/></a>
            </li>
        </ul>
    </div>
</div>

<div class="index-msg-box">
    <div class="notice">
        <div class="block">通</div>
        <span class="blue">知公示</span>&nbsp<span class="english">Notice and Publicity</span>
        <div class="notice-msg msg">
            <br/>
            <p><a href="">关于申请的是的地方是的烦人而是</a></p>
            <p><a href="">关于申请的是的地方是的地方是的而是</a></p>
            <p><a href="">关于申请的是的地方是的的是的地方是的而是</a></p>
            <img src="../../statics/image/首页/more.png" alt="" class="more"/>
        </div>
    </div>
    <div class="hot">
        <div class="block">热</div>
        <span class="blue">点时讯</span>&nbsp<span class="english">Notice and Publicity</span>
        <div class="hot-msg msg">
            <br/>
            <div>
                <a href="">
                    <p class="left">关于申请的是的地方是的烦人而是</p>
                    <p class="date">2016-11-11</p>
                </a>
            </div>
            <div>
                <a href="">
                    <p class="left">关于申请的dgfb是的地方是的烦人而是</p>
                    <p class="date">2016-11-11</p>
                </a>
            </div>
            <img src="../../statics/image/首页/more.png" alt="" class="more"/>
        </div>
    </div>
    <div class="stop">
        <div class="block">停</div>
        <span class="blue">诊公告</span>&nbsp<span class="english">Notice and Publicity</span>
        <div class="stop-msg msg">
            <div class="stop-border">
                <div class="grade">三甲</div>
                <h4>青岛太博医院</h4>
                <div class="round">
                </div>
                <div class="margin">
                    <span class="blue">肝病科</span>&nbsp<span>大细菌</span><br/>
                    <span>2016年5月就诊嗯地方他</span>
                </div>
            </div>
            <div class="stop-border">
                <div class="grade">三甲</div>
                <h4>青岛太博医院</h4>
                <div class="margin2">
                    <span class="blue">肝病科</span>&nbsp<span>大细菌</span><br/>
                    <span>2016年5月就诊诊嗯地方他</span>
                </div>
                <div class="margin2">
                    <span class="blue">肝病科</span>&nbsp<span>大细菌</span><br/>
                    <span>2016年5月就诊诊嗯地方他</span>
                </div>
            </div>
            <img src="../../statics/image/首页/more.png" alt="" class="more"/>
        </div>
    </div>
</div>

<div class="footerBg"><!------------底部链接-------------------->
    <div class="footer">
        <div class="footLogo">
            <img src="../../statics/image/首页/logo-bottom.png" alt=""/>
        </div>
        <div class="friendLink">
            <p>友情链接</p>
            <ul class="lingUl">
                <li class="link">
                    <ul>
                        <li><a href="">黄岛区地税局</a></li>
                        <li><a href="">共青团农场</a></li>
                    </ul>
                </li>
                <li class="link">
                    <ul>
                        <li><a href="">黄岛区地税局</a></li>
                        <li><a href="">共青团农场</a></li>
                    </ul>
                </li>
                <li class="link">
                    <ul>
                        <li><a href="">黄岛区地税局</a></li>
                        <li><a href="">共青团农场</a></li>
                    </ul>
                </li>
                <li class="link">
                    <ul>
                        <li><a href=""></a></li>
                        <li><a href="">共青团农场</a></li>
                    </ul>
                </li>
                <li class="link">
                    <ul>
                        <li><a href=""></a></li>
                        <li><a href="">共青团农场</a></li>
                    </ul>
                </li>
                <li class="link">
                    <ul>
                        <li><a href=""></a></li>
                        <li><a href="">共青团农场</a></li>
                    </ul>
                </li>
            </ul>
            <p class="yiYang">技术支持：亿阳信通股份有限公司</p>
        </div>
        <div class="suggest">
            <div>
                <img src="../../statics/image/首页/blog.png" alt=""/>
                <p>官方微博</p>
            </div>
            <div>
                <img src="../../statics/image/首页/suggestion.png" alt=""/>
                <p>意见反馈</p>
            </div>
        </div>
    </div>
</div>
<div class="bottomBg"><!----------底部声明----------------->
    <div class="bottom">
        <div>
            <span>|</span>
            <span><a href="">版权声明</a></span>
            <span>|</span>
            <span><a href="">法律责任</a></span>
            <span>|</span>
            <span><a href="">隐私声明</a></span>
            <span>|</span>
            <span><a href="">联系我们</a></span>
            <span>|</span>
        </div>
        <div class="middle">
            2009-2016&nbsp <a href="">山东省黄岛区卫生计生委</a>
        </div>
        <div class="right">
            备案号：心ICP备07057313号
        </div>
    </div>
</div>
</body>
</html>