<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>弹层</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<link rel="stylesheet" href="../../statics/css/layer.css">
	<script src="../../statics/js/jquery-2.1.4.min.js"></script>
</head>
<body>
	<div style="position: relative;width: 100%;height: 100%;">
		<div><input type="button" id="date" value="预约" style="padding:10px;background-color: palegreen;border-radius: 5px"></div>
		<!-- 预约弹出层 -->
		<div class="layer-wrap" id="appointment">
			<div class="layer-body">
				<!-- <div class="layer-title"> </div> -->
				<div class="layer-content"> 
					<!-- 左边医生及预约详情 -->
					<div class="pull-left doctorInfo">
						<div class="doctorInfo-box">
							<!-- 医生头像 -->
							<div class="doctor-pic">
								<div class="img">
									<img src="../../statics/image/医院列表/hospital.png" alt="">
								</div> 
							</div>
							<!-- 医生描述 -->
							<div class="doctorInfo-detail">
								<div> 
									<span class="doctor-name">钱国培</span>&nbsp;&nbsp;
									<span class="doctor-position">钱国培</span>
								</div>
								<div>
			                        <img src="../../statics/image/医生列表/star.png" alt=""><img src="../../statics/image/医生列表/star.png" alt=""><img src="../../statics/image/医生列表/star.png" alt=""><img src="../../statics/image/医生列表/star.png" alt=""><img src="../../statics/image/医生列表/half-star.png" alt="">9.3分
			                        <a class="pull-right" href="javascript:void(0)">青岛太博医院</a>
			                    </div>
			                    <div>
			                    	<div class="pull-left">
			                    		<img src="../../statics/image/医生列表/adapt.png" alt="">
			                    	</div> 
			                    	<div class="pull-left" style="width: 150px;">
			                    		<span class="introduce">主攻皮肤性病和皮肤美容外科，掌握疑难皮肤病</span>
			                    	</div>
			                    	
			                    	<a class="pull-right" href="javascript:void(0)">皮肤科</a>
			                    </div>
							</div> 
							<div class="clr"></div>
						</div>
						<!-- 医生排班情况 -->
						<div class="doctor-schedul">
								<h5>
									<span class="schedul-title">排班：登陆可查看实时号源</span>
								</h5>
								<div class="schedul-lists">
									<ul>
										<li>
											<div class="li-wrap">
											<span class="li-text">11/10<br>周三</span>
											<span class="time">上</span>
											<div class="list-detail">
												<div class="tip"></div>
												<label class="pull-left">医院：</label><span class="pull-left"><span>青岛太博医院</span></span>
												<label class="pull-left">科室：</label><span class="pull-left"><span>呼吸内科</span></span>
												<label class="pull-left">门诊类型：</label><span class="pull-left"><span>专家门诊</span></span>
												<label class="pull-left">出诊时间：</label><span class="pull-left"><span>2016-11-10</span></span>
												<label class="pull-left">参考挂号费：</label><span class="pull-left"><span class="gh-fee">￥10</span></span>
											</div>
											</div>
										</li>
										<li>
											<div class="li-wrap">
											<span class="li-text">11/10<br>周三</span>
											<span class="time">上</span>
											<div class="list-detail">
												<div class="tip"></div>
												<label class="pull-left">医院：</label><span class="pull-left"><span>青岛太博医院</span></span>
												<label class="pull-left">科室：</label><span class="pull-left"><span>呼吸内科</span></span>
												<label class="pull-left">门诊类型：</label><span class="pull-left"><span>专家门诊</span></span>
												<label class="pull-left">出诊时间：</label><span class="pull-left"><span>2016-11-10</span></span>
												<label class="pull-left">参考挂号费：</label><span class="pull-left"><span class="gh-fee">￥10</span></span>
											</div>
											</div>
										</li>
										<li>
											<div class="li-wrap">
												<span class="li-text">
													11/10<br>
													周三
												</span>
												<span class="time">上</span>
												<div class="list-detail">
													<div class="tip"></div>
													<label class="pull-left">医院：</label><span class="pull-left"><span>青岛太博医院</span></span>
													<label class="pull-left">科室：</label><span class="pull-left"><span>呼吸内科</span></span>
													<label class="pull-left">门诊类型：</label><span class="pull-left"><span>专家门诊</span></span>
													<label class="pull-left">出诊时间：</label><span class="pull-left"><span>2016-11-10</span></span>
													<label class="pull-left">参考挂号费：</label><span class="pull-left"><span class="gh-fee">￥10</span></span>
												</div>
											</div>
										</li>
										<li>
											<div class="li-wrap">
											<span class="li-text">11/10<br>周三</span>
											<span class="time">上</span>
											<div class="list-detail">
												<div class="tip"></div>
												<label class="pull-left">医院：</label><span class="pull-left"><span>青岛太博医院</span></span>
												<label class="pull-left">科室：</label><span class="pull-left"><span>呼吸内科</span></span>
												<label class="pull-left">门诊类型：</label><span class="pull-left"><span>专家门诊</span></span>
												<label class="pull-left">出诊时间：</label><span class="pull-left"><span>2016-11-10</span></span>
												<label class="pull-left">参考挂号费：</label><span class="pull-left"><span class="gh-fee">￥10</span></span>
											</div>
											</div>
										</li>
									</ul>
									<div>
										<a href="javascript:void(0)">确定</a>
									</div>
								</div>
							</div> 
						</div>

					<!-- 规则及注意事项 -->
					<div class="pull-right hospital-info">
						<div>
							<p>医院平台预约规则(班次每日14：00更新)</p>
						</div>
						<div>
							<p><a class="rule-head">医院规则：</a></p>
							<div class="rule-text">

								所有网上的支付订单都需要去自助预约机上区号；否则如果重新挂号算爽约不予退款。
							</div>
							<p><a class="rule-head">注意事项：</a></p>
							<div class="rule-text">
								所有网上的支付订单都需要去自助预约机上区号；否则如果重新挂号算爽约不予退款。
							</div>
						</div>
						<div>
							<p>1.可愈远班次更新时间：每日14：00左右更新</p>
							<p>2.特殊情况盛情预约退费者可在预约时间段之前到医院取号处进行退好神速，逾期不再受理；已支付挂号费的用户请提前30分钟到医院进行取号就诊，过时未取号将作废，爽约或迟到费用不退还，请就诊者悉知，谢谢</p>
						</div>
						<div class="pull-right"><a >更多</a></div>
					</div>
				</div>
			</div>
	
		</div>
	</div>
	
	<script>
		function addEvent(obj,type,handle){
		    try{  // Chrome、FireFox、Opera、Safari、IE9.0及其以上版本
		    	obj.addEventListener(type,handle,false);
		    }catch(e){
		        try{  // IE8.0及其以下版本
		        	obj.attachEvent('on' + type,handle);
		        }catch(e){  // 早期浏览器
		        	obj['on' + type] = handle;
		        }
		    }
		}
		addEvent(document.getElementById("date"),"click",showLayer);
		function showLayer(){
			document.getElementById("appointment").style.display='block'; 
		}
		$("div.li-wrap").on("click",function(){
			$(this).css({
				"background-color":"#48D3A2",
				"color":"#FFFFFF"
			}).find('span.time').css({
				"background-color":"#278EFF",
				"color":"#FFFFFF"
			})
		})
	</script>
</body>
</html>