<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>黄岛区居民健康门户</title>
    <link rel="stylesheet" href="../../statics/css/hospitalLogin.css"/>
</head>
<body>

<!--------logo-------->
<div class="logo">
    <img src="../../statics/image/首页/logo2.png" alt="" class="logoMargin"/>
    <!--<iframe class="weather" name="weather_inc" src="http://i.tianqi.com/index.php?c=code&id=9" width="300" height="60" frameborder="0" marginwidth="0" marginheight="0" scrolling="no"></iframe>-->
    <ul>
        <li>
            <a href="">返回首页</a>
        </li>
        <li>
            <a href="" class="register">我要注册</a>
        </li>
    </ul>
</div>
<div class="background">
    <div class="box">
        <div class="left">
            <h1>黄岛区居民健康服务门户</h1>
            <h3>预约挂号 / 健康教育 / 健康管理</h3>
            <div class="white">
                <div><img src="../../statics/image/登录/组%207.png" alt=""/></div>
                <div><img src="../../statics/image/登录/组%206.png" alt=""/></div>
                <p>下载APP获取更多服务&nbsp微信扫一扫关注我们</p>
            </div>
        </div>
        <div class="right">
            <div class="right-width">
                <h2>用户登录</h2>
                <form action="">
                    <input type="text" class="text phone" placeholder="已注册手机号码"/>
                    <input type="text" class="text password" placeholder="密码"/>
                    <input type="checkbox"/><label for="">记住密码</label><br/>
                    <input type="submit" class="submit" value="登录"/>
                </form>
                <a href="">忘记密码？</a>
            </div>
        </div>
    </div>
</div>
<!-------底部--------->
<div class="bottom-box">
    <span>|</span>
    <span><a href="">版权声明</a></span>
    <span>|</span>
    <span><a href="">法律责任</a></span>
    <span>|</span>
    <span><a href="">隐私声明</a></span>
    <span>|</span>
    <span><a href="">联系我们</a></span>
    <span>|</span>
    <p>2009-2016&nbsp <a href="">山东省黄岛区卫生计生委</a>&nbsp备案号：心ICP备07057313号</p>
    <p>技术支持：亿阳信通股份有限公司</p>
</div>
</body>
</html>