<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>黄岛区居民健康门户</title>
    <link rel="stylesheet" href="../../statics/css/headCommon.css"/>
    <link rel="stylesheet" href="../../statics/css/personalOrder.css"/>
</head>
<body>

<div class="topBox"><!----------顶部------------->
    <div class="top">
        <span>欢迎访问黄岛区居民健康信息门户！</span>
        <ul>
            <li><a href="">APP下载</a></li>
            <li><a href="">微信公众号</a></li>
        </ul>
    </div>
</div>

<div class="logo"><!----------logo----------------->
    <img src="../../statics/image/首页/logo2.png" alt="" class="logoMargin"/>
    <!--<iframe class="weather" name="weather_inc" src="http://i.tianqi.com/index.php?c=code&id=9" width="300" height="60" frameborder="0" marginwidth="0" marginheight="0" scrolling="no"></iframe>-->
    <ul>
        <li>
            <img src="../../statics/image/首页/login.png" alt=""/>登陆
        </li>
        <li>
            <img src="../../statics/image/首页/register.png" alt=""/>注册
        </li>
    </ul>
</div>

<div class="navBox"><!-----------菜单----------------------->
    <div class="nav" >
        <ul>
            <li><a href="">首页</a></li>
            <li><a href="">预约挂号</a></li>
            <li><a href="">健康教育</a></li>
            <li><a href="">健康管理</a></li>
            <li class="current"><a href="">个人中心</a></li>
        </ul>
    </div>
</div>

<div class="message-box">
    <div class="left-msg">
        <ul>
            <li>
                <a href="">
                    <img src="../../statics/image/个人中心/Personal information.png" alt=""/>
                    <span>个人信息</span>
                </a>
            </li>
            <li>
                <a href="">
                    <img src="../../statics/image/个人中心/files.png" alt=""/>
                    <span>健康档案</span>
                </a>
            </li>
            <li>
                <a href="" class="current">
                    <img src="../../statics/image/个人中心/order1.png" alt=""/>
                    <span>我的预约</span>
                </a>
            </li>
            <li>
                <a href="">
                    <img src="../../statics/image/个人中心/Patient.png" alt=""/>
                    <span>就诊人管理</span>
                </a>
            </li>
            <li>
                <a href="">
                    <img src="../../statics/image/个人中心/message.png" alt=""/>
                    <span>我的消息</span>
                </a>
            </li>
            <li>
                <a href="">
                    <img src="../../statics/image/个人中心/feedback.png" alt=""/>
                    <span>投诉反馈</span>
                </a>
            </li>
        </ul>
    </div>
    <div class="right-msg">
        <div class="right-top">
            按状态筛选
            <select name="" class="select">
                <option value="">全部</option>
            </select>
        </div>
        <div class="table">
            <table>
                <tr class="tHead">
                    <td>就诊日期</td>
                    <td>医生</td>
                    <td>就诊人</td>
                    <td>挂号费</td>
                    <td>订单状态</td>
                    <td>操作</td>
                </tr>
                <tr>
                    <td>2016-11-18</td>
                    <td><span class="blue">钱国培</span></td>
                    <td>孙晓燕</td>
                    <td>5</td>
                    <td><a href="" class="red">待支付</a></td>
                    <td><a href=""class="blue">详情</a >&nbsp<a href="" class="blue">取消</a></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </table>

        </div>
        <div></div>
    </div>
</div>

<div class="footerBg"><!------------底部链接-------------------->
    <div class="footer">
        <div class="footLogo">
            <img src="../../statics/image/首页/logo-bottom.png" alt=""/>
        </div>
        <div class="friendLink">
            <p>友情链接</p>
            <ul class="lingUl">
                <li class="link">
                    <ul>
                        <li><a href="">黄岛区地税局</a></li>
                        <li><a href="">共青团农场</a></li>
                    </ul>
                </li>
                <li class="link">
                    <ul>
                        <li><a href="">黄岛区地税局</a></li>
                        <li><a href="">共青团农场</a></li>
                    </ul>
                </li>
                <li class="link">
                    <ul>
                        <li><a href="">黄岛区地税局</a></li>
                        <li><a href="">共青团农场</a></li>
                    </ul>
                </li>
                <li class="link">
                    <ul>
                        <li><a href=""></a></li>
                        <li><a href="">共青团农场</a></li>
                    </ul>
                </li>
                <li class="link">
                    <ul>
                        <li><a href=""></a></li>
                        <li><a href="">共青团农场</a></li>
                    </ul>
                </li>
                <li class="link">
                    <ul>
                        <li><a href=""></a></li>
                        <li><a href="">共青团农场</a></li>
                    </ul>
                </li>
            </ul>
            <p class="yiYang">技术支持：亿阳信通股份有限公司</p>
        </div>
        <div class="suggest">
            <div>
                <img src="../../statics/image/首页/blog.png" alt=""/>
                <p>官方微博</p>
            </div>
            <div>
                <img src="../../statics/image/首页/suggestion.png" alt=""/>
                <p>意见反馈</p>
            </div>
        </div>
    </div>
</div>
<div class="bottomBg"><!----------底部声明----------------->
    <div class="bottom">
        <div>
            <span>|</span>
            <span><a href="">版权声明</a></span>
            <span>|</span>
            <span><a href="">法律责任</a></span>
            <span>|</span>
            <span><a href="">隐私声明</a></span>
            <span>|</span>
            <span><a href="">联系我们</a></span>
            <span>|</span>
        </div>
        <div class="middle">
            2009-2016&nbsp <a href="">山东省黄岛区卫生计生委</a>
        </div>
        <div class="right">
            备案号：心ICP备07057313号
        </div>
    </div>
</div>
</body>
</html>