<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>医生预约排班</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<link rel="stylesheet" href="../../statics/css/schedul.css">
	<script src="../../statics/js/jquery-2.1.4.min.js"></script>
</head>
<body>
	<div style="width: 1000px;height: 600px;background-color: #FAFAFA;margin:0 auto;margin-top: 100px;">
		<div class="schedul-box">
			<p>注：患者可预约两周以内的号，已预约<span>32</span>人</p>
			<div class="schedul-tab">
				<div class="side-table pull-left">
					<table>
						<tr>
							<th>
								<a href="javascript:void(0)" class="prev"></a>
								<span>排班信息</span>
								<a href="javascript:void(0)" class="next"></a>
							</th>
						</tr>
						<tr>
							<td><span>上午</span></td>
						</tr>
						<tr>
							<td><span>下午</span></td>
						</tr>
					</table>
				</div>
				<div class="list-box pull-left">
					<table class="list-table">
						<tr>
							<th><span>11/16<br/>今天</span></th>
							<th><span>11/17<br/>星期五</span></th>
							<th><span>11/18<br/>星期六</span></th>
							<th><span>11/19<br/>星期日</span></th>
							<th><span>11/20<br/>星期一</span></th>
							<th><span>11/21<br/>星期二</span></th>
							<th><span>11/22<br/>星期三</span></th>
							<th><span>11/23<br/>星期四</span></th>
							<th><span>11/24<br/>星期五</span></th>
							<th><span>11/25<br/>星期六</span></th>
							<th><span>11/26<br/>星期日</span></th>
						</tr>
						<tr>
							<td class="date-full"><span>已约满</span></td>
							<td><span></span></td>
							<td><span></span></td>
							<td><span></span></td>
							<td><span></span></td>
							
							<td><span></span></td>
							<td><span></span></td>
							<td><span></span></td>
							<td  class="date-free">
								<span>预约</span>
								<p>
									<label>放号: <span class="">30</span></label>
									<label>剩余: <span class="">7</span></label>
								</p>
							</td>
							<td><span></span></td>
							<td><span></span></td>
						</tr>
						<tr>
							
							<td><span></span></td>
							<td><span></span></td>
							<td><span></span></td>
							<td  class="date-full"><span>已约满</span></td>
							<td><span></span></td>
							<td class="date-free">
								<span>预约</span><br>
								<p>
									<label>放号: <span class="">30</span></label>
									<label>剩余: <span class="">7</span></label>
								</p>
							</td>
							<td><span></span></td>
							<td><span></span></td>
							<td><span></span></td>
							<td><span></span></td>
							<td><span></span></td>
						</tr>
					</table>
				</div>
				<div class="clr"></div>
			</div>
		</div>


		<div class="schedul-box">
			<p>注：患者可预约两周以内的号，已预约<span>32</span>人</p>
			<div class="schedul-tab">
				<div class="side-table pull-left">
					<table>
						<tr>
							<th>
								<a href="javascript:void(0)" class="prev"></a>
								<span>排班信息</span>
								<a href="javascript:void(0)" class="next"></a>
							</th>
						</tr>
						<tr>
							<td><span>上午</span></td>
						</tr>
						<tr>
							<td><span>下午</span></td>
						</tr>
					</table>
				</div>
				<div class="list-box pull-left">
					<table class="list-table">
						<tr>
							<th><span>11/16<br/>今天</span></th>
							<th><span>11/17<br/>星期五</span></th>
							<th><span>11/18<br/>星期六</span></th>
							<th><span>11/19<br/>星期日</span></th>
							<th><span>11/20<br/>星期一</span></th>
							<th><span>11/21<br/>星期二</span></th>
							<th><span>11/22<br/>星期三</span></th>
							<th><span>11/23<br/>星期四</span></th>
							<th><span>11/24<br/>星期五</span></th>
							<th><span>11/25<br/>星期六</span></th>
							<th><span>11/26<br/>星期日</span></th>
						</tr>
						<tr>
							<td class="date-full"><span>已约满</span></td>
							<td><span></span></td>
							<td><span></span></td>
							<td><span></span></td>
							<td><span></span></td>
							
							<td><span></span></td>
							<td><span></span></td>
							<td><span></span></td>
							<td  class="date-free">
								<span>预约</span>
								<p>
									<label>放号: <span class="">30</span></label>
									<label>剩余: <span class="">7</span></label>
								</p>
							</td>
							<td><span></span></td>
							<td><span></span></td>
						</tr>
						<tr>
							
							<td><span></span></td>
							<td><span></span></td>
							<td><span></span></td>
							<td  class="date-full"><span>已约满</span></td>
							<td><span></span></td>
							<td class="date-free">
								<span>预约</span><br>
								<p>
									<label>放号: <span class="">30</span></label>
									<label>剩余: <span class="">7</span></label>
								</p>
							</td>
							<td><span></span></td>
							<td><span></span></td>
							<td><span></span></td>
							<td><span></span></td>
							<td><span></span></td>
						</tr>
					</table>
				</div>
				<div class="clr"></div>
			</div>
		</div>
	</div>
	<script>
		
		$(".side-table tr th a").on("click",function(){//给翻页按钮绑定点击事件 
			if($(this).hasClass("next")){//判断点击的按钮是向前还是向后
				var mgl=clickNext();
			}else{
				var mgl=0; 
			}

			$(this).parent().parent().parent().parent().parent().next().find("table").css({"margin-left":-mgl+"px"}); 
		});
		
		
		function clickNext(){//点击向后按钮事件 
			return  mgl=getEleWidth(".list-table")-getEleWidth(".list-box");
		};

		function getEleWidth(obj){
			return $(obj).outerWidth();
		}
	</script>
</body>
</html>